<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
        
      <div class="form-group">
        <label for="productKey">Product Key:</label>
        <input type="text" class="form-control" id="productKey" name="productKey" value="<%= product.productKey %>" required>
      </div>
      <div class="form-group">
        <label for="description">Product Description:</label>
        <input type="text" class="form-control" id="description" name="description" value="<%= product.Decription %>" required>
      </div>
      <div class="form-group">
        <label for="unitPrice">Unit Price:</label>
        <input type="text" class="form-control" id="unitPrice" name="unitPrice" value="<%= product.unitPrice %>" required>
      </div>
     
      <div class="form-group">
        <label for="MFD">MFD:</label>
        <input type="Date" class="form-control" id="MFD" name="MFD" value="<%= product.MFD %>" required>
      </div>
      <div class="form-group">
        <label for="EXD">EXD:</label>
        <input type="Date" class="form-control" id="EXD" name="EXD" value="<%= product.EXD %>" required>
      </div>
     
    </div>
  </div>
 